@model IEnumerable<Product>

@{
    ViewData["Title"] = "ProductsByCategory";
}
<div class="container border-primary">
    <h2 class="display-4 pb-2 text-center text-primary"> @ViewBag.CategoryName</h2>
    <div class="row">

        @foreach (var item in Model)
        {
            <div class="card  border-secondary m-1 " style="width: 14rem;">
                 <div class="ajaxbg d-none">
                <img src="~/images/ajax-loader.gif"/>
                <p class="lead alert alert-success text-center d-none">the product has been added..</p>
            </div>
                <img src="~/media/products/@item.Image" class="card-img-top" alt="...">
                <div class="card-body">
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item"><strong>Type : </strong>@item.Name</li>
                    <li class="list-group-item"><strong>Description : </strong>@item.Description</li>
                    <li class="list-group-item"><strong>Price : </strong>@item.Price.ToString("C2")</li>
                    <li class="list-group-item"><a asp-controller="Cart" asp-action="Add" asp-route-id="@item.Id"
                        data-id="@item.Id" class="card-link btn btn-primary addToCart">Add to Card</a></li>
                </ul>

            </div>
        }

    </div>
   
</div>
@if (ViewBag.TotalPages > 1)
{
    <div class="d-flex w-100 justify-content-center pt-2">
        <pagination  page-count="@ViewBag.TotalPages" page-target="/product/@ViewBag.CategorySlug"
         page-number="@ViewBag.PageNumber" page-range="@ViewBag.PageRange"></pagination>
    </div>
}


@section Scripts {

<script>
    $(function () {

        $("a.addToCart").click(function (e) {
            e.preventDefault();

            let ajaxDiv = $(this).parent().parent().parent().find("div.ajaxbg");
            ajaxDiv.removeClass("d-none");
            let id = $(this).data("id");

            $.get('/cart/add/' + id, {}, function (data) {
                $("div.smallcart").html(data);
                ajaxDiv.find("img").addClass("d-none");
                ajaxDiv.find("p").removeClass("d-none");
                setTimeout(() => {
                    ajaxDiv.animate({ opacity: 0 }, function () {
                        $(this).addClass("d-none").fadeTo(.1, 1);
                        $(this).find("img").removeClass("d-none");
                        $(this).find("p").addClass("d-none");
                    });
                });
            });
        });

    });
</script>

}
